* {
  font-family: "微软雅黑", "Microsoft Yahei", "华文细黑", "Hiragino Sans GB", tahoma, arial, "宋体";
  box-sizing: border-box;
  font-size: 12px;
}

p, body, ul, li, h1, h2, h3, dl, dd {
  margin: 0;
  padding: 0;
}

p, a, h1, h2, h3, dl, dt, dd, th, input, li, button, dl, dt, th, em, span, i {
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
}

img, input, button, dl, dt, dd {
  border: none;
  background-color: transparent;
  list-style-type: none;
}

ul, li {
  list-style: none;
}

input, button {
  outline: none;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary, img {
  display: block;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  height: 100%;
  min-height: 100%;
}