@font-face {
  font-family: 'icon';
  font-style: normal;
  font-weight: normal;
  src: url(../scss/fonts/icon.eot);
  src: url(../scss/fonts/icon.eot?#iefix) format('eot'),
  url(../scss/fonts/icon.woff) format('woff'),
  url(../scss/fonts/icon.ttf) format('truetype'),
  url(../scss/fonts/icon.svg#entypo) format('svg');
}

.icon:before {
  font-family: 'icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smooth: antialiased;
}

.icon_menu1:before{ content: "\0021";}
.icon_menu2:before{ content: "\0022";}
.icon_menu3:before{ content: "\0023";}
.icon_menu4:before{ content: "\0024";}
.icon_menu5:before{ content: "\0025";}
.icon_menu6:before{ content: "\0026";}

.icon_user1:before{ content: "\002B";}
.icon_user2:before{ content: "\002C";}
.icon_user3:before{ content: "\002D";}