/*
  time : 2017-3-7
  author : zhengidfei
  desc : 加载字体文件样式
*/

//字体类，定义名称icon
@font-face {
  font-family: 'icon';
  font-style: normal;
  font-weight: normal;
  src: url(scss/fonts/icon.eot);
  src: url(scss/fonts/icon.eot?#iefix) format('eot'),
  url(scss/fonts/icon.woff) format('woff'),
  url(scss/fonts/icon.ttf) format('truetype'),
  url(scss/fonts/icon.svg#entypo) format('svg');
}

//icon前样式
.icon:before {
  font-family: 'icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smooth: antialiased;
}

//定义menu菜单图标样式
.icon_menu1:before{ content: "\0021";}
.icon_menu2:before{ content: "\0022";}
.icon_menu3:before{ content: "\0023";}
.icon_menu4:before{ content: "\0024";}
.icon_menu5:before{ content: "\0025";}
.icon_menu6:before{ content: "\0026";}

.icon_user1:before{ content: "\002B";}
.icon_user2:before{ content: "\002C";}
.icon_user3:before{ content: "\002D";}

.icon_shrink:before{ content: "\0038";}  /*收起*/
.icon_stretch:before{ content: "\0039";} /*放大*/
.icon_delete:before{ content: "\003A";}  /*删除*/

.icon_search:before{ content: "\0027";}  /*搜索*/
.icon_drop:before{ content: "\002A";}    /*下拉*/
.icon_line:before{ content: "\0029";}    /*标题前面的横线符号*/
.icon_date:before{ content: "\0028";}   /*日期*/